{{>_nav}}
<div class="container col-6m">
    <div class="col-md-8 offset-md-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/registrys">Cadastros</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>
        <div class="card-body border rounded">
            <form action="/update/registry" method="POST">
                <input type="hidden" value="{{registry.id}}" name="id">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input class="form-control textM" type="text" name="name" value="{{registry.name}}" required>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="nascimento">Nascimento:</label>
                            <input class="form-control" type="text" id="data" placeholder="00/00/0000"
                                data-mask="00/00/0000" name="birth" value="{{registry.birth}}" required>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="whatsapp">WhatsApp:</label>
                            <input class="form-control" type="text" placeholder="(11)00000-0000" id="phone" name="phone"
                                value="{{registry.phone}}" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mae">Nome da Mãe:</label>
                    <input class="form-control" type="text" name="mother" value="{{registry.mother}}" required>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <label for="cep">Cep:</label>
                        <input class="form-control" type="text" id="cep" placeholder="00000-000" name="zipcode"
                            value="{{registry.zipcode}}" required>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="endereco">Endereço:</label>
                        <input type="text" class="form-control" id="logradouro" name="address"
                            value="{{registry.address}}" readonly>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="bairro">Bairro:</label>
                        <input type="text" class="form-control" id="bairro" name="district"
                            value="{{registry.district}}" readonly>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="localidade" name="city" value="{{registry.city}}"
                            readonly>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="uf" name="state" value="{{registry.state}}"
                            readonly>
                    </div>
                    <div class="col-6 col-md-4">
                        <label for="numero">Numero:</label>
                        <input class="form-control" type="text" name="number" value="{{registry.number}}" required>
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <label for="escola">Escola:</label>
                    <select class="form-control chosen" name="school">
                        <option>{{registry.school}}</option>
                        {{#each school}}
                        <option>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="obs">Obs:</label>
                    <textarea class="form-control" type="text" name="note">{{registry.note}}</textarea>
                </div>
                <button class="btn btn-sm btn-warning" type="submit"><i class="ri-edit-line"></i> Editar</button>
            </form>
        </div>
    </div>
    {{>_footer}}
</div>